{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/profile.css') }}">
<script type=text/javascript src="{{ url_for('static', filename='js/profile.js') }}"></script>
<script src="https://kit.fontawesome.com/a81368914c.js"></script>
<script src="https://code.jquery.com/jquery.min.js"></script>
{% endblock %}

{% block content %}
<div class="profile-container">
	<div class="card">
		<div class="header">
			<div class="main">
				<div class="image">
					<form name="image-form" id="image-form" enctype="multipart/form-data">
						<label for="file-input">
							<img src="{{ image_file }}" alt="Profile Picture" class="profile-pic">
							<div class="hover">
								<i class="fas fa-camera fa-2x"></i>
							</div>
						</label>
						<input id="file-input" type="file" name="pic" required>
						<p class="error error-hidden"></p>
					</form>
				</div>
				<h3 class="name">{{ session['user'].username }}</h3>
				<h3 class="sub-name">@{{ session['user'].username }}</h3>
			</div>
		</div>

		<div class="content">
			<div class="right">
				<div class="stats">
					<h3 class="number">91</h3>
					<h3 class="number-title">Posts</h3>
				</div>
				<div class="stats">
					<h3 class="number">2.4K</h3>
					<h3 class="number-title">Following</h3>
				</div>
				<div class="stats">
					<h3 class="number">4.7K</h3>
					<h3 class="number-title">Followers</h3>
				</div>
			</div>

			<div class="left">
				<div class="buttons-wrap">
					<a href="#" class="follow fb">
						<i class="fab fa-facebook"></i>
					</a>
					<a href="#" class="follow ig">
						<i class="fab fa-instagram"></i>
					</a>
					<a href="#" class="follow twit">
						<i class="fab fa-twitter"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}