<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	{% block head %}{% endblock %}
	<title>FeedFuser</title>
	<script type=text/javascript src="{{ url_for('static', filename='js/nav.js') }}"></script>
	<script type=text/javascript src="{{ url_for('static', filename='js/user.js') }}"></script>
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body>
	<header>
		<nav>
			<div class="logo">
				{% if 'logged_in' in session %}
				<a href="{{ url_for('main.feed') }}">
					<h1 class="hvr-underline-reveal">FeedFuser</h1>
				</a>
				{% else %}
				<a href="{{ url_for('main.feed') }}">
					<h1 class="hvr-underline-reveal">FeedFuser</h1>
				</a>
				{% endif %}
			</div>
			<label for="btn" class="icon">
				<span class="fa fa-bars"></span>
			</label>
			<input type="checkbox" id="btn" class="mobile-checkbox">
			<ul>
				<li><a href="#">About</a></li>
				{% if 'logged_in' in session %}
				<li>
					<label for="btn-1" class="show">{{ session['user'].username }} <i
							class="fas fa-chevron-down"></i></label>
					<a href="#" class="user-button">{{ session['user'].username }} <i
							class="fas fa-chevron-down"></i></a>
					<input type="checkbox" id="btn-1" class="mobile-checkbox">
					<ul>
						<li><a href="{{ url_for('user.dashboard') }}">Dashboard</a></li>
						<li><a href="#">Dark Mode</a></li>
						<li><a href="{{ url_for('user.signout') }}">Sign Out</a></li>
					</ul>
				</li>
				{% else %}
				<li><span id="loginButton">Log In</span></li>
				<li><span id="signupButton">Sign Up</span></li>
				{% endif %}
			</ul>
		</nav>
	</header>
	<main>
		{% if 'logged_in' not in session %}
		{% include 'login.html' %}
		{% include 'signup.html' %}
		<script>
			$('.icon').click(function () {
				$('span').toggleClass("cancel");
			});
		</script>
		{% endif %}
		{% block content %}{% endblock %}
	</main>
</body>

</html>