<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='icons/favicon.ico') }}">
	<title>FeedFuser</title>
	<script src="https://code.jquery.com/jquery.min.js"></script>
	<script type=text/javascript src="{{ url_for('static', filename='js/nav.js') }}"></script>
	<script type=text/javascript src="{{ url_for('static', filename='js/login.js') }}"></script>
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body>
	<header>
		<nav>
			<ul class="menu">
				<li class="nav-logo"><a href="{{ url_for('main.home') }}" class="hvr-underline-reveal">FeedFuser</a>
				</li>
				<li class="nav-item"><a href="#">About</a></li>
				<li class="nav-item button"><a href="#" id="loginButton">Log In</a></li>
				<li class="nav-item button secondary"><a href="#" id="signupButton">Sign Up</a></li>
				<li class="nav-toggle"><span class="bars"></span></li>
			</ul>
		</nav>
	</header>
	<main>
		{% include 'login.html' %}
		{% include 'signup.html' %}
		{% block content %}{% endblock %}
	</main>
</body>

</html>