<div class="center">
	<div class="container" id="signupContainer">
		<label for="show" class="close-btn fas fa-times" title="close" id="signupClose"></label>
		<div class="text">
			Account Registration
		</div>
		<form name="signup-form">
			<div class="data">
				<label>Username</label>
				<input type="text" name="username" required>
			</div>
			<div class="data">
				<label>Email</label>
				<input type="email" name="email" required>
			</div>
			<div class="data">
				<label>Password</label>
				<input type="password" name="password" required>
			</div>
			<div class="data">
				<label>Confirm Password</label>
				<input type="password" name="password-confirm" required>
			</div>
			<div class="btn">
				<div class="inner">
				</div>
				<button type="submit">Sign Up</button>
			</div>
			<p class="error error-hidden"></p>
			<div class="signup-link">
				Already a member? <span id="showLogin">Log in now</span>
			</div>
		</form>
	</div>
</div>