@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
	margin: 0;
	padding: 0;
	user-select: none;
	box-sizing: border-box;
	font-family: 'Noto Sans', sans-serif;
}

.error {
	color: red;
	padding-bottom: 15px;
	text-align: center;
}

.alert {
	padding: 0.75rem 1.25rem;
	border-radius: 0.25rem;
	border: 1px solid transparent;
	margin-bottom: 1rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	text-align: left;
	animation: flashFade 0s 3s forwards;
}
  
@keyframes flashFade {
	to {display: none;}
}

.alert-error {
	border-color: darkred;
	background-color: red;
	color: white;
}
  
.alert-success {
	border-color:#c3e6cb;
	background-color: #d4edda;
	color: #155724;
}

.hvr-underline-reveal {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	overflow: hidden;
}

.hvr-underline-reveal:before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgb(59,89,152);
	background: linear-gradient(90deg, rgba(59,89,152,1) 0%, rgba(29,161,242,1) 44%, rgba(225,48,108,1) 100%);
	height: 4px;
	-webkit-transform: translateY(4px);
	transform: translateY(4px);
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.1s;
	transition-duration: 0.1s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	border-radius: 10px;
}

.hvr-underline-reveal:hover:before, .hvr-underline-reveal:focus:before, .hvr-underline-reveal:active:before {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

body {
	background: #efefef;
}

nav {
	background: #ffffff;
}
  
nav:after {
	content: '';
	clear: both;
	display: table;
}

nav .logo {
	float: left;
	color: #1c1c1c;
	font-size: 27px;
	font-weight: 600;
	line-height: 70px;
	padding-left: 60px;
}

nav ul {
	float: right;
	margin-right: 40px;
	list-style: none;
	position: relative;
}

nav ul li {
	display: inline-block;
	background: #ffffff;
	margin: 0 5px;
}

nav ul li a, nav ul li span {
	color: #1c1c1c;
	line-height: 70px;
	text-decoration: none;
	font-size: 18px;
	padding: 8px 15px;
}

nav .logo a h1 {
	color: #1c1c1c;
	text-decoration: none;
}

nav ul li a:hover {
	color: #2c88cf;
}

nav ul li span:hover {
	color: #2c88cf;
	cursor: pointer;
}

nav ul li .user-button:hover {
	color: white;
}

nav ul ul li a:hover {
	box-shadow: none;
}

nav ul ul {
	position: absolute;
	top: 90px;
	border-top: 3px solid #2c88cf;
	opacity: 0;
	visibility: hidden;
	transition: top .3s;
}
  
nav ul ul ul {
	border-top: none;
}
  
nav ul li:hover > ul {
	top: 70px;
	opacity: 1;
	visibility: visible;
}
  
nav ul ul li {
	position: relative;
	margin: 0px;
	width: 150px;
	float: none;
	display: list-item;
	border-bottom: 3px solid rgba(0,0,0,0.8);
	border-radius: 10px;
	text-align: center;
}
  
nav ul ul li a {
	line-height: 50px;
}

nav ul ul li span {
	line-height: 50px;
}

nav ul ul ul li {
	position: relative;
	top: -60px;
	left: 150px;
}

.show,.icon,.mobile-checkbox {
	display: none;
}
  
.fa-plus {
	font-size: 15px;
	margin-left: 40px;
}

.user-button {
	background: #2c88cf;
	border-radius: 10px;
	color: white;
}

@media all and (max-width: 968px) {
	
	nav ul {
	  margin-right: 0px;
	  float: left;
	}

	nav .logo {
	  padding-left: 30px;
	  width: 100%;
	}

	.show + a, ul {
	  display: none;
	}

	nav ul li,nav ul ul li {
	  display: block;
	  width: 100%;
	}

	nav ul li a:hover {
	  box-shadow: none;
	}

	.show {
	  display: block;
	  color: #1c1c1c;
	  font-size: 18px;
	  padding: 0 20px;
	  line-height: 70px;
	  cursor: pointer;
	}

	.show:hover {
	  color: #1c1c1c;
	}

	.icon {
	  display: block;
	  color: #1c1c1c;
	  position: absolute;
	  top: 0;
	  right: 40px;
	  line-height: 70px;
	  cursor: pointer;
	  font-size: 25px;
	}

	nav ul ul {
	  top: 70px;
	  border-top: 0px;
	  float: none;
	  position: static;
	  display: none;
	  opacity: 1;
	  visibility: visible;
	}

	nav ul ul a {
	  padding-left: 40px;
	}

	nav ul ul span {
		padding-left: 40px;
	  }

	nav ul ul ul a {
	  padding-left: 80px;
	}

	nav ul ul ul span {
		padding-left: 80px;
	  }

	nav ul ul ul li {
	  position: static;
	}

	[id^=btn]:checked + ul {
	  display: block;
	}

	nav ul ul li {
	  border-bottom: 0px;
	}

}