@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Noto Sans', sans-serif;
	background: #ccc;
}

nav {
	background: #ffffff;
	padding: 5px 20px;
}

ul {
	list-style-type: none;
}

a {
	color: #1c1c1c;
	text-decoration: none;
}

a:not(.hvr-underline-reveal):hover {
	color: lightgrey;
}

.menu li {
	font-size: 16px;
	padding: 15px 5px;
}

.menu li a {
	display: block;
}

.nav-logo a {
	font-size: 40px;
	font-weight: 1000;
	width: fit-content;
}

.button.secondary {
	border-bottom: 1px #444 solid;
}

/* Mobile Menu */
.menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.nav-item.button {
	order: 2;
}

.nav-item {
	width: 100%;
	text-align: center;
	order: 3;
	display: none;
}

.nav-item.active {
	display: block;
}

.nav-toggle {
	order: 1;
	cursor: pointer;
}

.bars {
	background: #999;
	display: inline-block;
	height: 2px;
	position: relative;
	width: 18px;
}

.bars::before, .bars::after {
	background: #999;
	content:"";
	display: inline-block;
	height: 2px;
	position: absolute;
	width: 18px;
}

.bars::before {
	top: 5px;
}

.bars::after {
	top: -5px;
}

.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container{
  display: none;
  background: #fff;
  width: 410px;
  padding: 30px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.container .close-btn{
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 18px;
  cursor: pointer;
}

.container .text{
  font-size: 35px;
  font-weight: 600;
  text-align: center;
}
.container form{
  margin-top: -20px;
}
.container form .data{
  height: 45px;
  width: 100%;
  margin: 40px 0;
}
form .data label{
  font-size: 18px;
}
form .data input{
  height: 100%;
  width: 100%;
  padding-left: 10px;
  font-size: 17px;
  border: 1px solid silver;
}
form .data input:focus{
  border-color: #3498db;
  border-bottom-width: 2px;
}
form .forgot-pass{
  margin-top: -8px;
}
form .forgot-pass a{
  color: #3498db;
  text-decoration: none;
}
form .forgot-pass a:hover{
  text-decoration: underline;
}
form .btn{
  margin: 30px 0;
  height: 45px;
  width: 100%;
  position: relative;
  overflow: hidden;
}
form .btn .inner{
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  z-index: -1;
  background: -webkit-linear-gradient(right,  rgba(59,89,152,1),  rgba(225,48,108,1),  rgba(59,89,152,1),rgba(225,48,108,1));
  transition: all 0.4s;
}
form .btn:hover .inner{
  left: 0;
}
form .btn button{
  height: 100%;
  width: 100%;
  background: none;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}
form .signup-link{
  text-align: center;
}
form .signup-link a{
  color: #3498db;
  text-decoration: none;
}
form .signup-link a:hover{
  text-decoration: underline;
}


/* Tablet Menu */
@media all and (min-width:468px) {
	.menu {
		justify-content: center;
	}

	.nav-logo {
		flex: 1;
	}

	.modal-body {
		padding: 10% 16px;
		top: 25vh;
	}

	.nav-item.button {
		width: 150px;
		order: 1;
		display: block;
	}

	.nav-toggle {
		order: 2;
	}

	.button.secondary {
		border: 0;
	}

	.button:not(.secondary) a {
		background: none;
		color: #1c1c1c;
	}

	.button a {
		text-decoration: none;
		color: white;
		padding: 7px 15px;
		background: #0079D3;
		border: 1px solid #0079D3;
		border-radius: 10px;
	}

	.button a:hover {
		transition: all .25s;
		background: #7fbce9;
		border-color: #7fbce9;
	}
}

/* Desktop View */
@media all and (min-width: 768px) {
	.nav-item {
		display: block;
		width: auto;
		order: 1;
	}

	.nav-toggle {
		display: none;
	}

	.nav-logo {
		order: 0;
	}
	
	.button {
		order: 2;
	}

	.menu li {
		padding: 0px 10px;
	}

	.menu li.button {
		padding-right: 0;
	}
}

.hvr-underline-reveal {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	overflow: hidden;
  }
  .hvr-underline-reveal:before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgb(59,89,152);
	background: linear-gradient(90deg, rgba(59,89,152,1) 0%, rgba(29,161,242,1) 44%, rgba(225,48,108,1) 100%);
	height: 4px;
	-webkit-transform: translateY(4px);
	transform: translateY(4px);
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.1s;
	transition-duration: 0.1s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	border-radius: 10px;
  }
  .hvr-underline-reveal:hover:before, .hvr-underline-reveal:focus:before, .hvr-underline-reveal:active:before {
	-webkit-transform: translateY(0);
	transform: translateY(0);
  }