@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Noto Sans', sans-serif;
	background: #ccc;
}

nav {
	background: #ffffff;
	padding: 5px 20px;
}

ul {
	list-style-type: none;
}

a {
	color: #1c1c1c;
	text-decoration: none;
}

a:not(.hvr-underline-reveal):hover {
	color: lightgrey;
}

.menu li {
	font-size: 16px;
	padding: 15px 5px;
}

.menu li a {
	display: block;
}

.nav-logo a {
	font-size: 40px;
	font-weight: 1000;
	width: fit-content;
}

.button.secondary {
	border-bottom: 1px #444 solid;
}

/* Mobile Menu */
.menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.nav-item.button {
	order: 2;
}

.nav-item {
	width: 100%;
	text-align: center;
	order: 3;
	display: none;
}

.nav-item.active {
	display: block;
}

.nav-toggle {
	order: 1;
	cursor: pointer;
}

.bars {
	background: #999;
	display: inline-block;
	height: 2px;
	position: relative;
	width: 18px;
}

.bars::before, .bars::after {
	background: #999;
	content:"";
	display: inline-block;
	height: 2px;
	position: absolute;
	width: 18px;
}

.bars::before {
	top: 5px;
}

.bars::after {
	top: -5px;
}

/* Tablet Menu */
@media all and (min-width:468px) {
	.menu {
		justify-content: center;
	}

	.nav-logo {
		flex: 1;
	}

	.nav-item.button {
		width: 150px;
		order: 1;
		display: block;
	}

	.nav-toggle {
		order: 2;
	}

	.button.secondary {
		border: 0;
	}

	.button:not(.secondary) a {
		background: none;
		color: #1c1c1c;
	}

	.button a {
		text-decoration: none;
		color: white;
		padding: 7px 15px;
		background: #0079D3;
		border: 1px solid #0079D3;
		border-radius: 10px;
	}

	.button a:hover {
		transition: all .25s;
		background: #7fbce9;
		border-color: #7fbce9;
	}
}

/* Desktop View */
@media all and (min-width: 768px) {
	.nav-item {
		display: block;
		width: auto;
		order: 1;
	}

	.nav-toggle {
		display: none;
	}

	.nav-logo {
		order: 0;
	}
	
	.button {
		order: 2;
	}

	.menu li {
		padding: 0px 10px;
	}

	.menu li.button {
		padding-right: 0;
	}

	.hvr-underline-reveal {
		display: inline-block;
		vertical-align: middle;
		-webkit-transform: perspective(1px) translateZ(0);
		transform: perspective(1px) translateZ(0);
		box-shadow: 0 0 1px rgba(0, 0, 0, 0);
		position: relative;
		overflow: hidden;
	  }
	  .hvr-underline-reveal:before {
		content: "";
		position: absolute;
		z-index: -1;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgb(59,89,152);
		background: linear-gradient(90deg, rgba(59,89,152,1) 0%, rgba(29,161,242,1) 44%, rgba(225,48,108,1) 100%);
		height: 4px;
		-webkit-transform: translateY(4px);
		transform: translateY(4px);
		-webkit-transition-property: transform;
		transition-property: transform;
		-webkit-transition-duration: 0.1s;
		transition-duration: 0.1s;
		-webkit-transition-timing-function: ease-out;
		transition-timing-function: ease-out;
		border-radius: 10px;
	  }
	  .hvr-underline-reveal:hover:before, .hvr-underline-reveal:focus:before, .hvr-underline-reveal:active:before {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	  }
}